extends layout

block content
    h2 Edit your account!
    form(action="/account" method="POST")
        label(for="name") name
        input(type="text" name="name" value=user.name)
        label(for="email") Email address
        input(type="email" name="email" value=user.email)
        input.button(type="button" value="Update your account")